body,html {
    margin: auto;
    border: solid 5px navy;
    background-image: url(Fundo2.jpg);
    background-size:cover;
    text-align: center;
}
#destaque{
background-image:url(Fundo1.jpg);
background-size: cover; 
text-align:center;
}